{% extends 'blog/base.html' %}

{% block content %}
    <div class="login-wrapper">
        <form class="login-form" method="POST" action="signIn">
            {% csrf_token %}
            <input id="username" type="text" placeholder="Enter your username">
            <input id="password" type="password" placeholder="Enter your password">
            <button id="submit" type="submit">Sign In</button>
            <p>Don't have an account? <a href="{% url 'signUp' %}">Sign up</a></p>
        </form>
    </div>
{% endblock %}